.Jokes {
    display: flex;
    flex-direction: column;
    height: 500%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    
  }
  body{
    display: block;
    height: 500%;
    justify-content: center;

  }
  
  /* area where the joke is */
  .joke-container {
    text-align: center;
    margin-bottom: 20px;
    height: 500%;
  }
  
  /* the joke styling */
  .joke-setup {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: rgb(39, 38, 38);
    margin-bottom: 10px;
  }

  /* the answer to the joke */
  .joke-punchline {  
    font-size: 12px;
    color: #555;
    margin-top: 10px;
  }
  
  /* the new joke button */
  .new-joke-button {
    padding: 10px 20px;
    background-color:rgb(156, 223, 250);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

  }
  
  /* makes the joke button change color when mouse is over it */
  .new-joke-button:hover {
    background-color: #0056b3;
  }
  