body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

code{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}